body{
    font-family: sans-serif;
    background-color: burlywood;
}

button.greeting {
    border-style: double;
    border-width: thick;
    border-color: crimson;
    }
input {
    padding: 10px 10px;
    margin: 20px 10px;
    border: 2px dashed red;
    border-radius: 4px;
    }
input:focus {
    background-color:cyan;
    }